<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
    <Kafka name="Kafka" topic="log-analysis-topic">
      <PatternLayout pattern="%message"/>
        <Property name="bootstrap.servers">192.85.247.104:9092,192.85.247.105:9092,192.85.247.106:9092</Property>
    </Kafka>
  </Appenders>
  <Loggers>
    <Logger name="etl" level="debug">
        <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="etl" level="error">
        <AppenderRef ref="Kafka"/>
    </Logger>
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>