#proxy
proxy.host=16.85.88.10
proxy.port=8080

#tablea 
tableau.server.ip=192.238.57.4
tableau.server.port=80

#oozie config
oozie.server.ip=192.85.247.104
oozie.server.port=11000
#oozie.wf.workflow.notification.url=http://APP_HOST:APP_PORT/dashview/dbadmin/flow/instances/$jobId/status?status=$status
#oozie.wf.action.notification.url=http://APP_HOST:APP_PORT/dashview/dbadmin/flow/instances/$jobId/nodes/$nodeName/status?status=$status
jobTracker=192.85.247.104:8032
nameNode=hdfs://192.85.247.104:19000
rmWebApp=http://192.85.247.104:8088
historyServer=http://192.85.247.104:19888

#engine config
defaultFs=hdfs://192.85.247.104:19000

hdfs.user=dbadmin

platform.remote.dist=/bdap-r0.6.0/engine

action.node.cmds.search.packages=etl.cmd
